/******w***********
    
    Project 3 Website Development & Deployment
    Name: Danielle Gundayao
    Date: December 28, 2022
    Description: Website Development & Deployment

******************/


body{
    background: url('images/background.jpg');
    background-size: 500px 500px;
    font-family: 'Inter', sans-serif;
    color: #42280E;
}

/* Home Page Styling */

#header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
}

#title{
    text-decoration: none;
    color: #42280E;
    font-size: 30px;
    position: relative;
    font-family: 'Domine', serif;
    margin-left: 30px;
}

#subtitle{
    position: absolute;
    top: 80px;
    left: 100px;
    font-size: 20px;
    font-family: 'League Script', cursive;
    color: #42280E;
    text-decoration: none;
}

#menu ul{
    list-style: none;
    width: auto;
    margin-left: 400px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

#menu li{
    margin: 0px 30px;
}

#menu a{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #42280E;
}

#menu a:hover{
    color: #FFF;
    transition: .5s;
}

#menu a:focus{
    color: #FFF;
    transition: .5s;
    background-color: #42280E;
}

.active{
    border-bottom: 2px solid #42280E;
}

#homewrap, #productswrap, #contactformwrap{
    background-color: #CABDAF;
    padding: 30px 10px;
    width: 80%;
    margin: auto;
    text-align: center;
}

#homewrap{
    background-image: url('images/home.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutus, .whatsnew{
    background-color: #CABDAF;
    padding: 2px 30px;
    margin: 70px 30px;
}

.whatsnew li{
    list-style: none;
    margin: 30px 0px;
}

#homewrap h2{
    font-weight: bold;
    text-align: center;
}

#homewrap h3{
    font-weight: bold;
    color: red;
    text-align: center;
}

#homewrap ul{
    padding: 0px;
}

/* Product Page Styling */

#products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box{
    position: relative;
    width: auto;
    float: left;
    margin: 25px;
}

.images{
    width: 500px;
    height: 650px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    display: inline-block;
}

.description{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-size: 25px;
    width: 70%;
}

.box:hover .images{
    opacity: 0.3;
}

.box:hover .description{
    opacity: 1;
}

/* Contact Page Styling */

#contactform fieldset{
    border: solid;
    width: 50%;
    margin: 0px auto;
}

#contactform legend{
    font-size: 20px;
}

#contactform ul{
    padding: 0px;
}

#contactform li{
    font-size: 20px;
    line-height: 50px;
    list-style: none;
}

#contactform label{
    float: left;
    width: 120px;
    text-align: left;
}

#buttons{
    text-align: center;
}

#clear, #submit{
    width: 100px;
    line-height: 30px;
    background: #CABDAF;
    color: #42280E;
    font-size: 20px;
    margin: 5px;
}

#clear:hover, #submit:hover{
    background-color: #FFF;
    color: #42280E;
    cursor: pointer;
}

#clear:focus, #submit:focus{
    background-color: #FFF;
    color: #42280E;
    cursor: pointer;
}

#contactform input, textarea{
    line-height: 25px;
    width: 360px;
}

#contactform input:focus, textarea:focus{
    background-color: #D0D9B3;
    color: darkblue;
}

.error{
    color: red;
    font-size: 16px;
    margin: 0px 0px 0px 170px;
    padding: 0px;
    text-align: left;
}

/* Footer Styling */

footer{
    clear: both;
    text-align: center;
}

footer ul{
    list-style: none;
    padding: 0px;
    margin: 50px 0px 25px 0px;
}

footer li{
    display: inline;
    padding: 0px 7px 0px 9px;
}

footer li:not(:first-child){
    border-left: 1px solid #42280E;
}

footer a{
    text-decoration: none;
    color: #42280E;
    font-weight: bold;
}

footer a:hover{
    color: #FFF;
}

footer a:focus{
    color: #FFF;
    transition: .5s;
    background-color: #42280E;
}

footer p{
    color: #000;
    font-weight: bold;
}

@media(max-width: 1080px){

    #subtitle{
        margin: 0px auto;
    }

    #menu ul{
        display: flex;
        margin-left: 0px;
        align-items: center;
    }

    #menu li{
        margin: 0px 15px;
    }

    .description{
        width: auto;
    }

    .box{
        width: auto;
    }

    .box:hover .description{
        opacity: 1;
        width: auto;
    }

    #contactform ul{
        padding: 0px;
        align-items: center;
    }

    .error{
        font-size: 16px;
        margin-left: 0px;
    }

}

@media(max-width: 640px){

    #subtitle{
        margin: 0px auto;
    }

    #menu{
        margin: 0px auto;
    }

    #menu ul{
        display: flex;
        margin: 16px auto;
        align-items: center;
    }

    #menu li{
        margin: 0px 15px;
    }

    .description{
        font-size: 17px;
    }

    .images{
        width: 100%;
        height: 100%;
    }

    .box{
        width: auto;
    }

    .box:hover .description{
        opacity: 1;
        width: auto;
    }

    #contactform ul{
        padding-left: 0px;
    }

    #contactform label{
        float: left;
        width: auto;
    }

    #contactform input, textarea{
        width: 300px;
    }
    .error{
        font-size: 16px;
        margin-left: 0px;
    }

}



















